*,
*::before,
*::after {
  box-sizing: border-box;
}

a[data-tool-tip] {
  position: relative;
}
a[data-tool-tip]::after {
  content: attr(data-tool-tip);
  display: block;
  position: absolute;
  background-color: gray;
  padding: 0.5em 1em;
  color: white;
  border-radius: 5px;
  font-size: 0.8em;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  transform: scale(0);
  transition: transform ease-out 350ms, bottom ease-out 350ms;
}
a[data-tool-tip]:hover::after {
  transform: scale(1);
  bottom: 100%;
}

.counters {
  margin: 3em;
  counter-reset: counter-heading;
  counter-reset: counter-list;
}
.section {
  position: relative;
}
.section::before {
  counter-increment: counter-heading;
  content: counter(counter-heading);
  position: absolute;
  left: -1.5em;
  top: 0.1em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border-color: black;
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  box-sizing: border-box;
  color: gray;
}

.counters ol {
  list-style: none;
}

.counters li::before {
  counter-increment: counter-list;
  content: "-- " counter(counter-list) " -- ";
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.incontainer {
  display: flex;
  flex-direction: row;
}

.intro {
  position: relative;
  display: inline-block;
}

.intro::before,
.intro::after {
  content: "";
  height: 100%;
  display: block;
  position: absolute;
}
.intro::before {
  background: white;
  left: -20px;
  right: -20px;
  z-index: -1;
}
.intro::after {
  background: pink;
  width: 100vw;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  z-index: -2;
}
.box {
  width: 40%;
  height: 200px;
  background-color: aliceblue;
}
.img {
  width: 40%;
  height: 200px;
}
